body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;

}

.headerGeral {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    background-color: black;
}
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AD46FF;
    width: 100%;
    height: auto;
    min-height: 80px;
    background-color: black;
    z-index: 1;
}

.tituloPortfolio {
    display: flex;
    gap: 10px;
    margin-left: 35px;
    color: #AD46FF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-right: 35px;
    flex-wrap: wrap;
}

.imagemCod {
    width: 25px;
}

a {
    color: #848B97;
    text-decoration: none;
}

a:hover {
    color: #AD46FF;
    
}

main {
    width: 100%;
    height: auto;
    color: white;
    margin-top: 100px;
}

.inicio {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-bottom: 1px solid #AD46FF;
    row-gap: 15px;
    min-height: 250px;
}

.devFull {
}

.descInicio {
    margin-top: 0px;
    max-width: 650px;
    min-width: 200px;
    color: #848B97;
    font-size: 18px;
}

.botoes {
    display: flex;
    column-gap: 15px;
}

.verProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: #AD46FF;
    transition: 0.2s ease;
}

.entrarEmContato {
    text-align: center;
}

.verProjetos:hover {
    background-color: #9e2bfc;
    color: white;
    transition: 0.2s ease;
    scale: 1.05;
}

.entrarEmContato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    color: #AD46FF;
    border: 1px solid #AD46FF;
    transition: 0.2s ease;
}

.entrarEmContato:hover {
    background-color: #9e2bfc;
    color: white;
    transition: 0.2s ease;
    scale: 1.05;
}


.sobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #AD46FF;
    flex-wrap: wrap;
    column-gap: 30px;
    min-height: 500px;
    height: auto;
}

.geralSobreMim {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.infoGeral {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.tituloSobreMim {
    margin-bottom: 0px;
}

.subTSobreMim {
    margin-top: 5px;
}

.descSobreMim {
    color: #848B97;
    max-width: 650px;
    min-width: 200px;
    font-size: 18px;
}

.gitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    transition: 0.2s ease;
}

.gitHub:hover {
    background-color: #4d028a;
    transition: 0.2s ease;
}

.git {
    width: 25px;
}

.minhaFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 15px;
    box-shadow: 15px 15px 5px 1px #AD46FF;
}

.parteDireita {
    display: flex;
    justify-content: center;
    max-width: 450px;
    min-width: 300px;
}

.tituloProjetos {
    text-align: center;
}

.tituloMeusProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    color: #AD46FF;
}

h3 {
    font-style: normal;
    color: #848B97;
    margin-top: 0px;
}
.iconFolder {
    width: 30px;
}

.meusProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    min-height: 750px;
    height: auto;
    padding-left: 5px;
    border-bottom: 1px solid #AD46FF;
}

.todosProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 5px;
}

.projeto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 25px;
    border: 1px solid #AD46FF;
    max-width: 550px;
    min-width: 250px;
    height: 250px;
    border-radius: 15px;
    transition: 0.2s ease;
}

.projeto:hover {
    border: 1px solid #4d028a;
    scale: 1.05;
    transition: 0.2s ease;
    box-shadow: 0 0 1px 1px #AD46FF;
}

.tituloProjeto {
    font-size: 18px;
}

.descProjeto {
    width: 350px;
    min-width: 250px;
    margin-right: 15px;
    color: #848B97;
}

.linkProjeto {
    color: #AD46FF;
    transition: 0.2s ease;
}

.linkProjeto:hover {
    color: #9e2bfc;
    transition: 0.2s ease;
}

