body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
     font-family: 'JetBrains Mono', monospace;
}

.headerGeral {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    background-color: black;
}
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AD46FF;
    width: 100%;
    height: auto;
    min-height: 80px;
    background-color: black;
    z-index: 1;
}

.tituloPortfolio {
    display: flex;
    gap: 10px;
    margin-left: 35px;
    color: #AD46FF;
}

.navHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-right: 35px;
    flex-wrap: wrap;
}

.imagemCod {
    width: 25px;
}

a {
    color: #848B97;
    text-decoration: none;
}

a:hover {
    color: #AD46FF;
    
}

main {
    width: 100%;
    height: auto;
    color: white;
    margin-top: 100px;
}

.inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-bottom: 1px solid #AD46FF;
    row-gap: 15px;
    min-height: 300px;
}

.devFull {
    color: #AD46FF;
}

.descInicio {
    margin-top: 0px;
    max-width: 650px;
    min-width: 200px;
    color: #848B97;
    font-size: 18px;
}

.botoes {
    display: flex;
    column-gap: 15px;
}

.verProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    min-height: 35px;
    border-radius: 5px;
    color: white;
    background-color: #AD46FF;
    transition: 0.2s ease;
}

.entrarEmContato {
    text-align: center;
}

.verProjetos:hover {
    background-color: #9e2bfc;
    color: white;
    transition: 0.2s ease;
    scale: 1.05;
}

.entrarEmContato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    min-height: 35px;
    border-radius: 5px;
    background-color: white;
    color: #AD46FF;
    border: 1px solid #AD46FF;
    transition: 0.2s ease;
}

.entrarEmContato:hover {
    background-color: #9e2bfc;
    color: white;
    transition: 0.2s ease;
    scale: 1.05;
}


.sobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #AD46FF;
    flex-wrap: wrap;
    min-height: 500px;
    height: auto;
}

.geralSobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 90%;
}

.infoGeral {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.tituloSobreMim {
    margin-bottom: 0px;
    color: #AD46FF;
}

.subTSobreMim {
    color: white;
    margin-top: 5px;
}

.descSobreMim {
    color: #848B97;
    max-width: 650px;
    min-width: 200px;
    font-size: 18px;
}

.icons {
    display: flex;
    column-gap: 15px;
}

.gitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    transition: 0.2s ease;
}

.gitHub:hover {
    background-color: #4d028a;
    transition: 0.2s ease;
}


.git {
    width: 25px;
}



.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    transition: 0.2s ease;
}

.instagram:hover {
    background-color: #4d028a;
    transition: 0.2s ease;
}

.insta {
    width: 25px;
}

.endEmail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    transition: 0.2s ease;
}

.endEmail:hover {
    background-color: #4d028a;
    transition: 0.2s ease;
}

.emailL {
    width: 25px;
}

.minhaFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 1px #AD46FF;
}

.parteDireita {
    display: flex;
    justify-content: center;
    max-width: 450px;
    min-width: 300px;
}

.tituloProjetos {
    text-align: center;
}

.tituloMeusProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    color: #AD46FF;
}

h3 {
    font-style: normal;
    margin-top: 0px;
}
.iconFolder {
    width: 30px;
}

.meusProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    min-height: 750px;
    padding-left: 5px;
    border-bottom: 1px solid #AD46FF;
    row-gap: 15px;
    padding: 25px;
}

.todosProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 5px;
}

.projeto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 25px;
    border: 1px solid #AD46FF;
    max-width: 20%;
    min-width: 280px;
    height: 300px;
    border-radius: 15px;
    transition: 0.2s ease;
}

.projeto:hover {
    border: 1px solid #4d028a;
    scale: 1.05;
    transition: 0.2s ease;
    box-shadow: 0 0 1px 1px #AD46FF;
}

.tituloProjeto {
    font-size: 18px;
}

.descProjeto {
    width: 75%;
    min-width: 250px;
    margin-right: 15px;
    color: #848B97;
}

.linkProjeto {
    color: #AD46FF;
    transition: 0.2s ease;
}

.linkProjeto:hover {
    color: #9e2bfc;
    transition: 0.2s ease;
}

.minhasHabilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #AD46FF;
    min-height: 800px;
    height: auto;
    row-gap: 15px;
    padding: 25px;
}

.tituloHabilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloH {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    color: #AD46FF;
}

.titH {
    text-align: center;
}

.subTituloH {
    text-align: center;
    color: white;
}

.medal {
    width: 30px;
}

.tabela {
    width: 100%;
    overflow-x: auto;      /* scroll horizontal se precisar */
    padding: 0;
}

table {
    margin: 0 auto;        /* centraliza sem usar flex */
    width: 60%;
    min-width: 300px;      /* garante que não fique estreita demais */
    border-radius: 15px;
    font-size: 18px;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #AD46FF;
    transition: 0.2s ease;
    background: linear-gradient(to right, #11011e, #010003);
}

tr:hover {
    transition: 0.2s ease;
    background: #26073f;
}

.linhaTitulo:hover {
    background: linear-gradient(to right, #11011e, #010003);
}

th {
    text-align: left;
    color: #AD46FF;
}

th, td {
    padding: 10px;
}

.ultLinha {
    border: none;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 900px;
    border-bottom: 1px solid #AD46FF;
    row-gap: 20px;
}

.plane {
    width: 30px;
}

.tituloContato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloC {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.titC {
    color: #AD46FF;
}

.subTituloContato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subT {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: solid;
    width: 60%;
    padding: 30px;
    border: 1px solid #AD46FF;
    border-radius: 10px;
    background: linear-gradient(to right, #050008, #010003);
}

.planeB {
    width: 15px;
}

label {
    margin-bottom: 10px;
}

textarea {
    padding: 10px;
    background-color: black;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD46FF;
    transition: 0.2 ease;
    border: none;
    column-gap: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9e2bfc;
    transition: 0.2 ease;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #848B97;
    min-height: 250px;
    flex-direction: column;
    padding: 15px;
    background: linear-gradient(to top, #1a0029, #000000, #000000, #000000, #000000);
}

.hFooter {
    display: flex;
    justify-content: space-between;
    width: 65%;
    min-width: 350px;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid #AD46FF;
    padding-bottom: 25px;
}

.navFooter {
    display: flex;
    flex-direction: column;
}

.secoesFooter {
    display: flex;
    color: #AD46FF;
}

.navegacaoFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contatoFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contFooter {
    color: #AD46FF;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gitHubF {
    display: flex;
    align-items: center;
    gap: 10px;
}

.emailFooter {
    width: 17px;
}

.gitHubFooter {
    width: 16px;
}

.informacoesFooter {
    display: flex;
    flex-direction: column;
}

.infoFooter {
    color: #AD46FF;
}

.direitosAutorais {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    margin-top: 15px;
}

.foot {
    color: #7a7b7c;
}