body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: black;
     font-family: 'JetBrains Mono', monospace;
}

.headerGeral {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    background-color: black;
}
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #AD46FF;
    width: 100%;
    height: auto;
    min-height: 80px;
    background-color: black;
    z-index: 1;
}

.tituloPortfolio {
    display: flex;
    gap: 10px;
    margin-left: 35px;
    color: #AD46FF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-right: 35px;
    flex-wrap: wrap;
}

.imagemCod {
    width: 25px;
}

a {
    color: #848B97;
    text-decoration: none;
}

a:hover {
    color: #AD46FF;
    
}

main {
    width: 100%;
    height: auto;
    color: white;
    margin-top: 100px;
}

.inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-bottom: 1px solid #AD46FF;
    row-gap: 15px;
    min-height: 300px;
}

.devFull {
    color: #AD46FF;
}

.descInicio {
    margin-top: 0px;
    max-width: 650px;
    min-width: 200px;
    color: #848B97;
    font-size: 18px;
}

.botoes {
    display: flex;
    column-gap: 15px;
}

.verProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: #AD46FF;
    transition: 0.2s ease;
}

.entrarEmContato {
    text-align: center;
}

.verProjetos:hover {
    background-color: #9e2bfc;
    color: white;
    transition: 0.2s ease;
    scale: 1.05;
}

.entrarEmContato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    color: #AD46FF;
    border: 1px solid #AD46FF;
    transition: 0.2s ease;
}

.entrarEmContato:hover {
    background-color: #9e2bfc;
    color: white;
    transition: 0.2s ease;
    scale: 1.05;
}


.sobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #AD46FF;
    flex-wrap: wrap;
    column-gap: 30px;
    min-height: 500px;
    height: auto;
}

.geralSobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    width: 90%;
}

.infoGeral {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.tituloSobreMim {
    margin-bottom: 0px;
    color: #AD46FF;
}

.subTSobreMim {
    color: white;
    margin-top: 5px;
}

.descSobreMim {
    color: #848B97;
    max-width: 650px;
    min-width: 200px;
    font-size: 18px;
}

.icons {
    display: flex;
    column-gap: 15px;
}

.gitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    transition: 0.2s ease;
}

.gitHub:hover {
    background-color: #4d028a;
    transition: 0.2s ease;
}

.git {
    width: 25px;
}

.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    transition: 0.2s ease;
}

.instagram:hover {
    background-color: #4d028a;
    transition: 0.2s ease;
}

.insta {
    width: 25px;
}

.minhaFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 15px;
    box-shadow: 15px 15px 5px 1px #AD46FF;
}

.parteDireita {
    display: flex;
    justify-content: center;
    max-width: 450px;
    min-width: 300px;
}

.tituloProjetos {
    text-align: center;
}

.tituloMeusProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    color: #AD46FF;
}

h3 {
    font-style: normal;
    margin-top: 0px;
}
.iconFolder {
    width: 30px;
}

.meusProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    min-height: 750px;
    padding-left: 5px;
    border-bottom: 1px solid #AD46FF;
    row-gap: 15px;
    padding: 25px;
}

.todosProjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 5px;
}

.projeto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 25px;
    border: 1px solid #AD46FF;
    max-width: 20%;
    min-width: 280px;
    height: 300px;
    border-radius: 15px;
    transition: 0.2s ease;
}

.projeto:hover {
    border: 1px solid #4d028a;
    scale: 1.05;
    transition: 0.2s ease;
    box-shadow: 0 0 1px 1px #AD46FF;
}

.tituloProjeto {
    font-size: 18px;
}

.descProjeto {
    width: 75%;
    min-width: 250px;
    margin-right: 15px;
    color: #848B97;
}

.linkProjeto {
    color: #AD46FF;
    transition: 0.2s ease;
}

.linkProjeto:hover {
    color: #9e2bfc;
    transition: 0.2s ease;
}

.minhasHabilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #AD46FF;
    min-height: 1000px;
    height: auto;
    row-gap: 15px;
    padding: 25px;
}

.tituloHabilidade {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloH {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    color: #AD46FF;
}

.subTituloH {
    color: white;
}

.medal {
    width: 30px;
}


.tabelaHabilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    min-width: 380px;   
    border: 1px solid #AD46FF;
    border-radius: 15px;
    font-size: 18px;
    overflow: hidden;
}

.tituloTabela {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #11011e, #010003);
}

.aux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    column-gap: 30px;
}

.linhasTabela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #AD46FF;
    background: linear-gradient(to right, #11011e, #010003);
    transition: 1s ease;
}

.linha:hover {
    transition: 0.2s ease;
    background: #26073f;
}


.hTabela {
    text-align: center;
    width: 150px;
    min-width: 50px;
    border: solid transparent;
}

.conteudoLinha {
    text-align: center;
    width: 150px;
}

.nivel {
    text-align: center;
    width: 180px;
    border-radius: 5px;
    height: 100%;
    background-color: #9e2bfc;
}


.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 900px;
    border-bottom: 1px solid #AD46FF;
    row-gap: 20px;
}

.plane {
    width: 30px;
}

.tituloContato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloC {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.titC {
    color: #AD46FF;
}

.subTituloContato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subT {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: solid;
    width: 50%;
    padding: 30px;

    border: 1px solid #AD46FF;
    border-radius: 10px;
    background: linear-gradient(to right, #050008, #010003);
}

.planeB {
    width: 15px;
}

label {
    margin-bottom: 10px;
}

textarea {
    padding: 10px;
    background-color: black;
    border: 1px solid #AD46FF;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AD46FF;
    transition: 0.2 ease;
    border: none;
    column-gap: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9e2bfc;
    transition: 0.2 ease;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100px;
}